



.FilterIcon
{
    position: absolute;
    right: 2rem;
    cursor: pointer;    
    background-color: rgba(181, 177, 177, 0.489);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

